body {
    height: 100vh;
    width: 100vw;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow: hidden;
}

::-webkit-scrollbar {
    display: none;
}

#root {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-y: scroll;
    -ms-overflow-x: hidden;
}

#root, .baseContainer, .homeContainer, .overlayContainer {
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100% !important;
    margin: 0 auto !important;
    padding: 0 !important;
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-y: scroll;
    -ms-overflow-x: hidden;
}

.homeContainer {
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.overlayContainer {
    margin: 0 auto !important;
    background-color: rgb(74 0 229 / 80%);
}

.profileContainer {
    margin: 0 auto !important;
    background: #355C7D;
    background: -webkit-linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);
    background: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);
}

.skillsContainer {
    margin: 0 auto !important;
    background: #232526;
    background: -webkit-linear-gradient(to right, #232526, #414345);
    background: linear-gradient(to right, #232526, #414345);
}

.experiencesContainer {
    margin: 0 auto !important;
    background: #000428;
    background: -webkit-linear-gradient(to right, #000428, #004e92);
    background: linear-gradient(to right, #000428, #004e92);
}

.projectsContainer {
    margin: 0 auto !important;
    background: #1D2B64;
    background: -webkit-linear-gradient(to right, #1D2B64, #F8CDDA);
    background: linear-gradient(to right, #1D2B64, #F8CDDA);
}

.contactContainer {
    margin: 0 auto !important;
    background: #1D4350;
    background: -webkit-linear-gradient(to right, #A43931, #004e92);
    background: linear-gradient(to right, #A43931, #004e92);
}

.projectCard {
    background: #232526 !important;
    background: -webkit-linear-gradient(to right, #232526, #414345) !important;
    background: linear-gradient(to right, #232526, #414345) !important;
}

.feedbackPaper {
    background: #8E0E00 !important;
    background: -webkit-linear-gradient(to right, #1F1C18, #8E0E00) !important;
    background: linear-gradient(to right, #1F1C18, #8E0E00) !important;
}

.contactMePaper {
    background: #000428 !important;
    background: -webkit-linear-gradient(to right, #004e92, #000428) !important;
    background: linear-gradient(to right, #004e92, #000428) !important;
}

.noPaddingLeftGridItem {
    padding-left: 0 !important;
}

.noPaddingTopGridItem {
    padding-top: 0 !important;
}

.noPaddingGridItem {
    padding-left: 0 !important;
    padding-top: 0 !important;
}

ul .experiencesPageList {
    padding: 0;
    list-style-type: disc;
}